.Category {
  .SubCategoryChip {
    &-ChipCard {
      display: inline-flex;
      gap: 1rem;
      flex-wrap: wrap;
      padding: 5px;
      flex-direction: row;
    }

    &-Chip {
      display: flex;
      align-items: center;
      gap: 1rem;
      border-radius: 5px;
      padding: 4px;
      border: 1px solid #3c4b64;
    }

    &-Label {
      font-size: 10px;
      min-width: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: rgb(128, 128, 128);
    }

    &-AddNew {
      display: flex;
      border-radius: 5px;
      padding: 4px;
      border: 1px solid rgb(23, 151, 230);
      cursor: pointer;
    }

    &-AddButton {
      color: rgb(23, 151, 230);
    }
  }

  .EditButton {
    cursor: pointer;
    color: cadetblue;
  }

  .DeleteButton {
    cursor: pointer;
    color: red;
  }
}
