.App {
  text-align: center;
}

.nav-ul {
  background-color: #80558c;
  padding: 5px;
  margin: 0;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
  margin: 0;
}

.nav-ul li a {
  text-decoration: none;
  color: white;
}

.nav-right {
  text-align: right;
}

.brand-logo {
  margin: 4px;
  width: 45px;
  float: left;
  border-radius: 50%;
}
.invalid-message{
  color: red;
  margin: -25px 25px 25px
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: #80558c;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.register {
  margin-left: 30%;
}

.login {
  margin-left: 30%;
}

.inputBox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 2px solid #af7ab3;
}

.saveButton {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 318px;
  border: 2px solid #80558c;
  cursor: pointer;
  background-color: #ffffff;
  color: #80558c;
  font-weight: 700;
}

.saveButton:hover {
  background-color: #80558c;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
